/* General */
body {
  background-color: #0089B2;
  color: #FF8C19;
  font-family: Helvetica, Verdana, sans-serif;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container {
  max-width: 800px;
  margin: auto;
  position: relative;
}

/* Header */
header {
  margin-top: 50px;
  margin-bottom: 50px;
}

h1 {
  font-weight: bold;
  font-size: 4em;
  text-align: center;
}

.slogan {
  color: #dedede;
  text-align: center;
  margin-top: 10px;
  font-size: 1.2em;
}

/* Content */
/* > Settings */
.settings {
  display: inline-block;
  position: relative;
  margin: 0px 100px 20px 100px;
}

.settings > div {
  display: inline-block;
  width: 100px;
  margin: 0px 20px;
  text-align: center;
  padding: auto;
}

.settings .label {
  color: #dedede;
  margin-bottom: 10px;
}

.settings input {
  width: 30px;
  font-family: Consolas, Courier, monospace;
  font-size: 1.1em;
  margin-bottom: 20px;
  border: none;
  border-bottom: 5px solid #000000;
  padding: 3px;
  text-align: center;

  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;

  transition: border-color 200ms ease-in-out;
}

.settings input[data-invalid="true"] {
  border-color: #c80f0f;
}

.settings .line {
  background-color: #111111;
  width: 4px;
  height: 150px;
  margin: auto;

  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;
}

.settings .handle {
  background-color: #dedede;
  position: relative;
  left: 35px;
  bottom: 30px;
  width: 30px;
  height: 30px;
  cursor: pointer;

  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  border-radius: 100%;

  transition: background-color 200ms ease-in-out;
}

.handle:hover {
  background-color: #ffffff;
}

/* > Metronome */
.pulse {
  display: inline-block;
  position: relative;
  left: 320px;
  top: 20px;
  background-color: #59130e;
  width: 50px;
  height: 50px;

  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  border-radius: 25px;

  transition: all 10ms linear;
}

.pulse[data-active="true"] {
    background-color: #fa0e00;
}

.play-toggle {
  display: inline-block;
  position: relative;
  left: 330px;
  background-color: #c9cbd0;
  color: #0089B2;
  font-size: 1.5em;
  font-weight: bold;
  width: 100px;
  height: 50px;
  line-height: 50px;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;

  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  border-radius: 25px;

  transition: all 300ms linear;
}

.play-toggle[data-active=true] {
  background-color: #f7f8fb;
  color: #0089B2;
}

.play-toggle:hover {
  background-color: #FF7F00;
  color: #dedede;
}

.new-tempo {
  opacity: 0;
  display: inline-block;
  position: relative;
  left: 430px;
  background-color: #0a3bb6;
  color: #bfc9cc;
  font-size: 1.5em;
  font-weight: bold;
  width: auto;
  padding: 0 20px;
  height: 50px;
  line-height: 50px;
  vertical-align: middle;
  text-align: center;

  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  border-radius: 25px;

  -webkit-transition: opacity 300ms ease-in-out;
  -moz-transition: opacity 300ms ease-in-out;
  -ms-transition: opacity 300ms ease-in-out;
  -o-transition: opacity 300ms ease-in-out;
  transition: opacity 300ms ease-in-out;
}

.new-tempo[data-active=true] {
  opacity: 1;
}

.progress {
  background-color: #c9cbd0;
  color: #0089B2;
  font-size: 1.5em;
  width: 100%;
  height: 50px;
  margin-top: 30px;

  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  border-radius: 25px;

  transition: all 300ms linear;
  overflow: hidden;
}

div.progress > div.progress-bar {
  display: inline-block;
  background-color: #FF7F00;
  color: white;

  width: 0;
  margin: 0;
  height: 50px;
  line-height: 50px;
  vertical-align: middle;
  text-align: center;
  font-size: 1em;

  /*-webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  border-radius: 25px;*/

  transition: all 300ms linear;
}

/* Footer */
footer {
  margin-top: 100px;
}

footer p {
  font-family: Consolas, Courier, monospace;
  text-align: right;
  color: #dedede;
}
